black
deep-translator
demucs @ git+https://github.com/amaozhao/demucs
edge-tts
fastapi
hanzidentifier
isort
openai
pydub
python-dotenv
srt
tenacity
typer
whisperx @ git+https://github.com/m-bain/whisperx.git
