absl-py==2.1.0
aiohttp==3.9.3
aiosignal==1.3.1
alembic==1.13.1
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
asteroid-filterbanks==0.4.0
attrs==23.2.0
audioread==3.0.1
av==11.0.0
Babel==2.14.0
bangla==0.0.2
beautifulsoup4==4.12.3
blinker==1.7.0
blis==0.7.11
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.6
Brotli
catalogue==2.0.10
certifi
cffi
charset-normalizer
click
cloudpathlib==0.16.0
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
confection==0.1.4
contourpy
coqpit==0.0.17
ctranslate2==4.0.0
cycler
cymem==2.0.8
Cython
dateparser==1.1.8
decorator==4.4.2
deep-translator==1.11.4
deepspeed==0.14.0
docopt==0.6.2
einops==0.7.0
encodec==0.1.1
faster-whisper==1.0.0
filelock
Flask==3.0.2
flatbuffers==24.3.7
fonttools==4.25.0
frozenlist==1.4.1
fsspec
g2pkk==0.1.2
gmpy2
greenlet==3.0.3
grpcio==1.62.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fr==2.0.2
hangul-romanize==0.1.0
huggingface-hub
humanfriendly==10.0
HyperPyYAML==1.2.2
idna
importlib-metadata
inflect==7.0.0
itsdangerous==2.1.2
jamo==0.4.1
jieba==0.42.1
Jinja2
joblib
jsonlines==1.2.0
julius==0.2.7
kiwisolver
langcodes==3.3.0
lazy_loader==0.3
librosa==0.10.1
lightning==2.2.1
lightning-utilities==0.10.1
llvmlite==0.42.0
Mako==1.3.2
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe
matplotlib
mdurl==0.1.2
mkl-fft
mkl-random
mkl-service==2.4.0
moviepy==1.0.3
mpmath
msgpack==1.0.8
multidict==6.0.5
munkres==1.1.4
murmurhash==1.0.10
networkx==2.8.8
nltk
num2words==0.5.13
numba==0.59.0
numpy
omegaconf==2.3.0
onnxruntime==1.17.1
openai==0.27.10
optuna==3.5.0
packaging
pandas==1.5.3
pillow
platformdirs==4.2.0
ply==3.11
pooch==1.8.1
preshed==3.0.9
primePy==1.3
protobuf==4.25.3
psutil==5.9.8
pyannote.audio==3.1.1
pyannote.core==5.0.0
pyannote.database==5.0.1
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pycparser
pydantic==2.6.3
pydantic_core==2.16.3
Pygments==2.17.2
pynndescent==0.5.11
pyparsing
pypinyin==0.50.0
PyQt5==5.15.10
PyQt5-sip
pysbd==0.3.4
PySocks
python-crfsuite==0.9.10
python-dateutil
pytorch-lightning==2.2.1
pytorch-metric-learning==2.4.1
pytz==2024.1
PyYAML
regex
requests
rich==13.7.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
safetensors
scikit-learn==1.4.1.post1
scipy
semver==3.0.2
sentencepiece==0.2.0
shellingham==1.5.4
sip
six
smart-open==6.4.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speechbrain==1.0.0
SQLAlchemy==2.0.28
srsly==2.4.8
srt==3.5.3
SudachiDict-core==20240109
SudachiPy==0.6.8
sympy
tabulate==0.9.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
thinc==8.2.3
threadpoolctl
tokenizers
torch==2.2.1
torch-audiomentations==0.11.1
torch-pitch-shift==1.2.4
torchaudio==2.2.1
torchmetrics==1.3.1
torchvision==0.17.1
tornado
tqdm
trainer==0.0.36
transformers
TTS==0.22.0
typer==0.9.0
typing_extensions
tzdata==2024.1
tzlocal==5.2
umap-learn==0.5.5
Unidecode==1.3.8
urllib3
wasabi==1.1.2
weasel==0.3.4
Werkzeug==3.0.1
whisperx
yarl==1.9.4
zipp
